* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f4f5f7;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px;
  background: white;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 40px;
  height: 40px;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

.sidebar nav a {
  margin: 20px 0;
  width: 30px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  font-size: 20px;
  cursor: pointer;
}

.sidebar nav a.active {
  color: #ff5a1f;
}

.main {
  flex: 1;
  padding: 25px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 22px;
}

.header p {
  color: #888;
  font-size: 13px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.add-btn {
  background: #ff5a1f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #ccc;
  border-radius: 50%;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin: 25px 0;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  position: relative;
}

.card h2 {
  margin-top: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(#ff5a1f 82%, #eee 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.progress-line {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-line span {
  display: block;
  width: 60%;
  height: 100%;
  background: #ff5a1f;
  border-radius: 10px;
}

.badge {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #e6fff3;
  color: #00a86b;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 10px;
}

.content {
  display: flex;
  gap: 20px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.box {
  background: white;
  padding: 40px;
  border-radius: 16px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.task-list {
  list-style: none;
}

.task-list li {
  padding: 12px;
  background: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.task-list li.done {
  color: green;
}

.task-list li.active {
  border: 2px solid #ff5a1f;
  background: #fff;
}

.main-btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border: none;
  background: #ff5a1f;
  color: white;
  border-radius: 12px;
  font-size: 14px;
}

.chart {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 120px;
  margin: 15px 0;
}

.chart div {
  width: 18px;
  height: 40%;
  background: #ddd;
  border-radius: 5px;
}

.chart .active {
  height: 85%;
  background: #ff5a1f;
}

.ai-box {
  background: #eef0ff;
  margin-top: 20px;
}

.progress-text {
  font-size: 13px;
  color: #666;
}

.xabar-con {
  position: fixed;
  top: 30px;
  right: 30px;
}

.xabar {
  width: 400px;
  padding: 15px 20px;
  color: white;
  border-radius: 10px;
  margin: 10px 0px;

  animation: kirish 1s ease, chiqish 1s ease 2s forwards;
}

.error {
  background-color: red;
}

.success {
  background-color: rgb(0, 209, 0);
}

.info {
  background-color: skyblue;
}

@keyframes kirish {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes chiqish {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(120%);
    opacity: 0;
  }
}


@media (max-width: 1024px) {
  .top-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 10px 20px;
  }

  .sidebar nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .sidebar nav a {
    margin: 0;
  }

  .content {
    flex-direction: column;
  }

  .top-cards {
    grid-template-columns: 1fr;
  }
}